<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @glaze_material.name %>
</p>

<%= link_to 'Edit', edit_glaze_material_path(@glaze_material) %> |
<%= link_to 'Back', glaze_materials_path %>
