nav {
  margin: 0;
  margin-bottom: 12px;

  * {
    display: inline-block;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    padding-left: 6px;

    li {
      padding-left: 6px;

    }
  }

  a {
    text-decoration: none;
  }

  a.active {
    color: red;
  }

}
